.DS_Store
.cache
.idea
!.idea/dictionaries
.vscode
.idea/

node_modules

build/*
build-local/*
public/

test/e2e/output
test-results.xml

*.log*
npm-debug.log

package-lock.json

# Things generated on build
src/schemas/
schemas/
