.DS_Store
.cache
.idea
!.idea/dictionaries
.vscode

node_modules

build/*
build-local/*
public/

test/e2e/output
test-results.xml

*.log*
npm-debug.log

package-lock.json

# GraphQL schemas generated on build
docs/apis/schema/v3/
