.tabbar {
    display: none !important;
}

.graphiql-container {
    margin: 10px 0;
    min-height: 225px;
}

.graphiqls-container {
    height: 300px !important;
}

.query-header {
    display: none !important;
}

.variable-editor {
    display: none !important;
}

.settings {
    display: none !important;
}

.download-button {
    display: none !important;
}

.editorWrap {
    background-color: #f6f7f7 !important
}

.docs-graphiql .graphiql-container .CodeMirror {
    color: hsla(0,0%,100%,.3);
    font-family: Source Code Pro,Consolas,Inconsolata,Droid Sans Mono,Monaco,monospace;
    font-size: 14px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.graph-docs {
    display: none !important;
}

.graphiql-container .resultWrap {
    padding-bottom: 0 !important;
    background-color: #f6f7f7 !important;
}

.graphiql-container .query-editor .CodeMirror {
    width: 100% !important;
}

.docExplorerWrap {
    display: none;
}

.CodeMirror {
    background-color: #f6f7f7 !important;
}

.result-header {
    display: none !important;
}

.result-window {
    background: rgba(23,42,58,.02)!important
}

.intro {
    color: rgba(0,0,0,.4) !important;
}

.CodeMirror-gutters {
    background-color: inherit !important;
    border: 0 !important;
    margin-right: 5px !important;
}

.queryWrap {
    flex: 0.6 1 0% !important;
    border: 8px solid #f6f7f7 !important;
}

.graphcool-execute-button {
    width: 37.5px !important;
    height: 37.5px !important;
    background-color: #b6bbbf !important;
    border: none !important;
}

.graphcool-execute-button:hover {
    background-color: #959a9e !important;
}

.graphcool-execute-button > svg {
    fill: #fff !important;
    width: 14px;
    height: 14px;
    margin-top: 2px;
}

.execute-button-wrap {
    left: -80px !important;
}