@import './_palette';

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

/* Style the "Try in GraphiQL" link */
pre[data-lang='graphql'] {
  margin-bottom: 0.25em;
}

p.graphql-link {
  text-align: right;
  margin-top: 0.25em;
  padding-right: 1em;

  a img {
    position: relative;
    top: 3px;
  }
}

.iconlist {
  .iconlist-icon {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background-color: $secondary;
  }
}

.vtn-action-links {
  @media(max-width: 860px) {
    .nav-label {
      display: none;
    }
  }
  @media(max-width: 660px) {
    display: none;
  }
}
