@import './palette';

.quickstart {
  .banner {
    height: 120px;
    margin-bottom: 36px;
  }

  .engine-developer {
    h2 .anchor span {
      color: $secondary;
    }
  }

  .ml-integrator {
    h2 .anchor span {
      color: $accent2;
    }
  }

  .ml-explorer {
    h2 .anchor span {
      color: $accent3;
    }
  }

  .app-developer {
    h2 .anchor span {
      color: $accent1;
    }
  }
}
