.link {
  display: inline-flex;
  align-items: center;
  background-color: white;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0,0,0,.54);
}

.link:hover {
  color: #2196f3;
}

svg {
  margin-right: 10px;
}