.sidebar {
  min-width: 250px;
  width: 250px;
  border-right: 1px solid lightgrey;
  overflow-y: auto;
  padding-right: 10px;
  padding-left: 0 !important;
  font-size: 16px;
  margin-top: 0.75rem;

  ul {
    font-size: 14px;
    margin-left: 0;
    padding-left: 15px;
  }

  li {
    margin-bottom: calc(1.45rem / 2);

    > ul {
      margin-top: calc(1.45rem / 2);
    }
  }

  a {
    color: #4caf50;
  }
}
