/* li {
  list-style: none;
  line-height: 24px;
} */

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.sidebar {
  min-width: 200px;
  width: 200px;
  border-right: 1px solid lightgrey;
  overflow-y: auto;
  padding-right: 10px;
  padding-left: 0 !important;
  font-size: 16px;
  margin-top: 0.75rem;
}

.sidebar ul {
  font-size: 14px;
  margin-left: 0;
  padding-left: 15px;
}

.sidebar li {
  margin-bottom: calc(1.45rem / 2);
}

.sidebar li > ul {
   margin-top: calc(1.45rem / 2);
}

.sidebar a {
  color: #4caf50;
}
